//This fixes nf-core launch error: roject <project-name> is currently stickied on revision: main 
manifest.defaultBranch = "main"

// Global default params, used in configs
params {
  outdir = './results'
  reportdir = './reports'
  barcode_path = 'filtered_feature_bc_matrix/barcodes.tsv.gz'
  bam_file = 'possorted_genome_bam.bam'
  index_file = 'possorted_genome_bam.bam.bai'
  GTF = '/nfs/cellgeni/STAR/human/2020A/GRCh38_v32_filtered.gtf'
  RMSK = '/nfs/cellgeni/velocyto/GRCh38_rmsk.gtf'
  MEM = 7000
  THREADS = 16
  HELP = false
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  withName: get_velocyto {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
  }
  
  withName: run_velocyto {
      container = '/nfs/cellgeni/singularity/images/velocyto2.sif'
      cpus = 16
      memory = 128.GB
      queue = 'long'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "${params.reportdir}/timeline.html"
}

report {
   enabled = true
   file = "${params.reportdir}/report.html"
}

trace {
   enabled = true
   file = "${params.reportdir}/trace.txt"
}

// Ensures work directories and removed when pipeline completes
//cleanup = true
