singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  withName: get_velocyto {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
  }
  
  withName: run_velocyto {
      container = '/nfs/cellgeni/singularity/images/velocyto2.sif'
      cpus = 16
      memory = 128.GB
      queue = 'long'
  }
}
