singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  withName: get_velocyto {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
  }
  
  withName: run_velocyto {
      container = '/nfs/cellgeni/singularity/images/velocyto2.sif'
      cpus = 16
      memory = 128.GB
      queue = 'long'
  }
}

timeline {
   enabled = true
   file = 'reports/timeline.html'
}

report {
   enabled = true
   file = 'reports/report.html'
}

trace {
   enabled = true
   file = 'reports/trace.txt'
}


// Global default params, used in configs
params {
  outdir = './results'
  reportdir = './reports'
  barcode_path = 'filtered_feature_bc_matrix/barcodes.tsv.gz'
  bam_file = 'possorted_genome_bam.bam'
  index_file = 'possorted_genome_bam.bam'
  SAMPLEFILE = null
  GTF = '/nfs/cellgeni/STAR/human/2020A/GRCh38_v32_filtered.gtf'
  RMSK = '/nfs/cellgeni/velocyto/GRCh38_rmsk.gtf'
  MEM = 7000
  THREADS = 16
  HELP = false
}
